body{
	display: flex;
	flex-direction: row;
}
button {
	height: 50px;
	width: 50px;
	border-radius: 100%;
}
form {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding:15px 10px;
}
select, input {
	margin: 15px;
}



#ajout{
	border: solid;
	
	height: 480px;
	width: 300px;
	margin: auto;

}
#ajout-img {
	height: 160px;
	width: 260px;
	border: solid;
	border-color: red;
	display: relative;
	justify-content: center;
	margin-left: 6%;
	margin-top: 4%;
	text-align: center;
	background-color: silver;


}